---
title: Community
description: Share your adventures or see what others are saying
icon: fas fa-heart
featured_image: 'community-feature.jpg'
screen_image: 'reviews-screen.png'
eleventyNavigation:
    key: Community
    parent: Features
    order: 3
---

<section>
    <h2>Get in touch with other people</h2>

    <p>{{ description }}!</p>
</section>

{% include "_components/feature_info.njk" %}