---
title: GPS
description: Never get lost and stay right on track with our GPS tracker
icon: fas fa-map-marker-alt
featured_image: 'gps-feature.jpg'
screen_image: 'gps-screen.png'
eleventyNavigation:
    key: GPS
    parent: Features
    order: 2
---

<section>
    <h2>Our GPS tracker is on point</h2>

    <p>{{ description }}!</p>
</section>

{% include "_components/feature_info.njk" %}