---
title: User Friendly
description: It's easier than ever to find the perfect hike for you
icon: fas fa-user
featured_image: 'user-friendly-feature.jpg'
screen_image: 'ux-screen.png'
eleventyNavigation:
    key: User Friendly
    parent: Features
    order: 1
---

<section>
    <h2>Easy to use and accessible to anyone</h2>

    <p>{{ description }}!</p>
</section>

{% include "_components/feature_info.njk" %}