// colors
$primary: #2A4337;
$secondary: #F4F4F4;
$white: #FFF;

// font sizes
$text-sm: 0.85rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 1.5rem;
$text-xl: 2.5rem;

// widths
$large-container: 1240px;

// border radius
$radius-sm: 0.25rem;
$radius-md: 1rem;
$radius-lg: 2rem;

// spacing 
$spacing-base: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;