---
layout: base
title: The only walking and hiking app you'll ever need!
eleventyNavigation: 
    key: Home
    order: 1
---

<h1 class="sr-only">My walking app!</h1>

<section class="hero">
    <div class="hero__container">
        <div class="hero__image">
            <img class="display-image image--rounded" src="/assets/img/hero.jpg" alt="Hiking">
        </div>
        
        <div class="hero__content">
            <h2>What you might like</h2>

            {% for featured in featured_trails %}
                {% include "_components/featured_trails.njk" %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="features">
    <h2 class="sr-only">Features</h2>
    
    <ul class="features__list">
        {% for feature in collections.features %}
            {% include '_components/features_summary.njk'%}
        {% endfor %}
    </ul>
</section>

<section class="testimionals fade-in-up">
    <h2>Testimonials</h2>

    <div class="testimonials__reviews">
        {% for testimonial in testimonials %}
            {% include "_components/testimonials.njk" %}
        {% endfor %}
    </div>
</section>

<section class="clients fade-in-up">
    <h2>Clients</h2>

    <picture class="clients__pictures">
        <ul class="clients__pictures__list">
            {% for client in clients %}
                {% include "_components/clients.njk" %}
            {% endfor %}
        </ul>
    </picture>
</section>

<section class="blog fade-in-up">
    <div class="blog__trending">
        <h2>Trending this week in</h2>

        <select name="trending">
            <option value="hiking">Hiking</option>
            <option value="walking">Walking</option>
            <option value="biking">Biking</option>
            <option value="fishing">Fishing</option>
        </select>
    </div>

    <div class="blog__posts">
        {% if collections.blog | length %}
            <ul class="blog__list">
                {% for post in collections.blog | featured %}
                    {% include '_components/blog_posts.njk' %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>