.two-columns {
    &__container {
        display: flex;
    }

    &__img {
        flex-basis: 40%;

        img {
            width: 100%;
            height: 40rem;
            object-fit: cover;
        }
    }
    
    &__content {
        flex-basis: 60%;
        margin-left: $spacing-base;
    }
}