body {
    font-weight: 300;
}

h1 {
    font-size: $text-xl;
    line-height: 1;
}

h2,
h3 {
    line-height: 1.2;
}

h2 {
    font-size: $text-lg;
}

h3 {
    font-size: $text-md;
    font-weight: 500;
}

p,
cite {
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: $secondary;
}