---
layout: base
---

<section class="wysiwyg">

    {{ content | safe }}

    {% if collections.blog | length %}
        <div class="other-posts">
            <h2>Other blog posts:</h2>
                <ul>
                    {% for article in collections.blog %}
                        {% if article.url !== page.url %}
                            <li>
                                <a href="{{ article.url }}">{{ article.data.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
        </div>
    {% endif %}

</section>

