<li>
    <img class="image--rounded" src="/assets/img/blog/{{ post.data.image }}" alt="{{ post.data.title }}">
    
    <h3>{{ post.data.title }}</h3>

    <p>{{ post.data.summary }}</p>

    <a href="{{ post.url }}">
        <button class="btn--secondary">Read more</button>
    </a>
</li>