<li class="feature">
    <i class="{{ feature.data.icon }}"></i>

    <h3>{{ feature.data.title }}</h3>

    <p>{{ feature.data.description }}</p>

    <a href="{{ feature.url }}">
        <button class="btn--primary">{{ feature.data.title }}</button>
    </a>
</li>
