<header class="header">
    <div class="wrapper">
        <nav class="navbar">
            <a class="navbar__logo" href="/">
                <img src="/assets/img/logo_dark.png" alt="Logo">
            </a>

            {% include "_components/main_menu.njk" %}
        </nav>
    </div>
</header>
