<li class="card">
    <img class="card__img image--round" src="/assets/img/team/{{ member.image }}" alt="{{ member.name }}">

    <h4 class="card__title">{{ member.name }}</h4>

    <p class="card__text">{{member.age }} • {{ member.title }}</p>
</li>