<figure class="testimonials__review">
    <blockquote>
        <cite>{{ testimonial.testimonial }}</cite>
    </blockquote>
    
    <figcaption>
        <img class="image--round" src="/assets/img/testimonials/{{ testimonial.avatar }}" alt="{{ testimonial.username }}">
        
        <span>— {{ testimonial.username }}</span>
    </figcaption>
</figure>